<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>内科</string>
	<string>外科</string>
	<string>耳鼻咽喉头颈科</string>
	<string>出血性</string>
	<string>肿瘤科</string>
	<string>皮肤性病科</string>
</array>
</plist>
