<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>本服务条款是用户（您）与深圳市腾讯计算机系统有限公司（下称腾讯）之间的协议。QQ网站由腾讯或其关联公司所运行的各个网站和网页（合称QQ网站）构成。

1. 重要须知： 腾讯在此特别提醒，用户（您）欲访问和使用QQ网站，必须事先认真阅读本服务条款中各条款， 包括免除或者限制腾讯责任的免责条款及对用户的权利限制。请您审阅并接受或不接受本服务条款（未成年人审阅时应得到法定监护人的陪同）。如您不同意本服务条款及/或随时对其的修改，您应不使用或主动取消腾讯公司提供的服务。您的使用行为将被视为您对本服务条款全部的完全接受，包括接受腾讯对服务条款随时所做的任何修改。

2. 这些条款可由腾讯随时更新，且毋须另行通知。腾讯服务条款(以下简称“服务条款”)一旦发生变更, 腾讯将在网页上公布修改内容。修改后的服务一旦在网页上公布即有效代替原来的服务条款。您可随时登陆QQ网站查阅最新版服务条款。

3. 腾讯目前经由photo.qq.com（环球网），向用户提供丰富的网上及线下资源及诸多产品与服务（以下简称“photo.qq.com服务”或“本服务”），用户可以个性化定制商品、书籍、照片、光碟、VCD和只读光盘（统称为“产品”）。您可以根据自身需要创建、购买产品，或通过用户个人网站（“商店”）来销售产品。欲通过商店营销产品的用户必须另行订立店主协议，想要参加腾讯会员计划的用户必须另行订立会员协议。photo.qq.com允许所有的用户浏览环球网并从商店购买产品。photo.qq.com可在环球网上提供各种服务，包括大厅公告、竞赛和时事通讯，此类信息会经常更新。

4. 除非本服务条款另有其他明示规定，新推出的产品或服务、增加或强化目前本服务的任何新功能，均受到本服务条款之规范。

用户使用规则

1． 用户必须自行配备上网和使用电信增值业务所需的设备，自行负担个人上网或第三方（包括但不限于电信或移动通信提供商）收取的通讯费、信息费等有关费用。如涉及电信增值服务的，我们建议您与您的电信增值服务提供商确认相关的费用问题。

2． 腾讯只对依法订立合同的用户提供服务。如果您已满13周岁但不满18周岁，那么您可以在父母或服务条款规定的监护人的陪同下使用photo.qq.com服务。13周岁以下的儿童不能使用photo.qq.com服务。

3． 作为photo.qq.com服务的一部分，腾讯为您在环球网创建、生产和购买产品提供了一种服务（创建和购买服务），您可以根据自己的需要下载图像、视频、音频、数据和其他内容（统称为“内容”）。您可以根据环球网上的说明和内容使用策略在photo.qq.com上加载或发布所有您想使用的创建和购买服务范围内的内容。腾讯可以单方判断、决定任何一项内容是否符合此类的说明以及是否满足创建和购买服务的使用条款。

4． 您可以保留您在环球网上上载的内容的所有权。只要您的内容对环球网保持加载，您可以授予腾讯一个免费、在世界范围内通用、可转让、非独家使用的许可权利，此许可权利可以使用以下内容，即目前存在的或以后要创建的所有媒介方面，只要是腾讯认为对您利用创建和购买服务来创建、生产和购买产品是必要的。为了您的产品的生产和提供photo.qq.com服务，腾讯可以转授您在本部分授予它的权利给第三方。

5． 当您提交问题、评论、建议、创意、大厅公告、通过网络形式提交的材料、参赛人员、通讯或其它信息（统称为“提交资料”）后，您就授予了腾讯使用这些提交资料来行销和促销产品的权利，腾讯可以转授这些权利。您同意腾讯对您提交的资料没有保密义务。您无权因腾讯使用您的资料而引起任何纠纷向腾讯提出赔偿要求。本部分不适用于您使用的关于创造和购买服务或店主服务方面的内容。

6． 腾讯将联系第三方合作公司（“合作公司”）通过环球网来提供一些服务。对于合作公司及其服务，完全为您与其之间之行为，腾讯不予干涉及控制。因该合作公司服务给您招致的任何损害或损失，您同意腾讯均不予负责。当您使用合作公司服务时，您必须在遵守腾讯的服务条款的同时也遵守他们的服务条款和政策。如果他们此类的条款和政策与腾讯的服务条款、协议或政策有冲突，您必须遵守腾讯的适用服务条款、协议或政策。

7． 您只能使用被腾讯明确批准的photo.qq.com服务，不可以做任何危害QQ网站或photo.qq.com服务的行为，包括但不限于以下行为内容是被禁止的：（i）使用病毒或任何其他的程序或技术来中断或破坏任何软件或硬件，以此来干扰 photo.qq.com服务。（ii）修改、创建派生作品形式、反向工程、反向编译或反汇编任何用来提供photo.qq.com服务的技术。（iii）使用遥控设备、十字支架或其他设备或程序监控环球网或从环球网上复制网页，除了操作和使用因特网的“搜索引擎”，访问计数器或其他相似的技术（iv）利用photo.qq.com服务收集第三方的电子邮件地址或其他的信息；（v）模仿别人或其他的团体（vi）使用元标签、搜索项、关键术语或其他与 photo.qq.com名称或商标相似的名称（vii）参加任何此类的干扰活动，即干扰其他用户使用或享受photo.qq.com服务的能力，或（viii）协助或鼓励任何第三方参加服务条款所禁止的活动。

8． 除您与腾讯公司另有约定外，您同意本服务仅供个人使用且非商业性质的使用，您不可对本服务任何部分或本服务之使用或获得（包括但不限于产品），进行复制、拷贝、出售、或利用本服务进行调查、广告、或用于其他商业目的，其中，您不得将任何广告信函与信息、促销资料、垃圾邮件与信息、滥发邮件与信息、直销及传销邮件与信息以短信、即时通信或以其他方式传送，但腾讯公司对特定服务另有适用指引或规则的除外。

9． 腾讯有权利但没有义务监视通过环球网进行的交易和联络。如果腾讯有足够理由判断您违反了服务条款，腾讯可以单方取消对您的服务而不予承担责任。

10． 若您违反有关法律法规及本服务条款的规定，须自行承担完全的法律责任，并承担因此给腾讯公司造成的损失的法律责任。

11． 如用户违反国家法律法规或本服务条款，本公司和合作公司将有权停止向用户提供服务而不需承担任何责任，如导致腾讯或合作公司遭受任何损害或遭受任何来自第三方的纠纷、诉讼、索赔要求等，用户须向本公司或合作公司赔偿相应的损失，用户并需对其违反服务条款所产生的一切后果负全部法律责任。

服务风险及免责声明

1. 用户须明白，本服务仅依其当前所呈现的状况提供，本服务涉及到互联网及移动通讯等服务，可能会受到各个环节不稳定因素的影响。因此服务存在因上述不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机、GSM网络、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。开通服务的用户须承担以上风险，本公司和合作公司对服务之及时性、安全性、准确性不作担保，对因此导致用户不能发送和接受阅读消息、或传递错误，个人设定之时效、未予储存或其他问题不承担任何责任。

2. 如本公司的系统发生故障影响到本服务的正常运行，本公司承诺在第一时间内与相关单位配合，及时处理进行修复。但用户因此而产生的经济损失，本公司和合作公司不承担责任。此外，腾讯保留不经事先通知为维修保养、升级或其他目的暂停本服务任何部分的权利。

3. 腾讯在此郑重提请您注意，任何经由本服务以上载、张贴、发送即时信息、电子邮件或任何其他方式传送的资讯、资料、文字、软件、音乐、音讯、照片、图形、视讯、信息、用户的登记资料或其他资料（以下简称“内容”），无论系公开还是私下传送，均由内容提供者承担责任。腾讯公司无法控制经由本服务传送之内容，也无法对用户的使用行为进行全面控制，因此不保证内容的合法性、正确性、完整性、真实性或品质；您同意将自行加以判断并承担所有风险，而不依赖于腾讯。但在任何情况下，腾讯有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停用户使用本服务的全部或部分，保存有关记录，并向有关机关报告。但腾讯有权(但无义务)依其自行之考量，拒绝和删除可经由本服务提供之违反本条款的或其他引起腾讯公司或其他用户反感的任何内容。

知识产权保护政策

1． 腾讯的photo.qq.com网站为用户提供了一个自动化的网络服务，用户可以利用此网络来设计和销售产品。腾讯禁止用户利用腾讯的网络服务销售侵犯第三方权利（包括但不限于版权、商标、外观设计）的产品。如果知识产权权利人认为腾讯的用户侵犯了他们的权利，腾讯希望该权利人与腾讯联系，腾讯将（根据腾讯的判断标准）把侵权用户的产品从网站中除去。如果该用户继续侵犯您的权利（或侵犯其他人的权利）腾讯将终止用户进入腾讯的服务系统。

2． 如果您认为腾讯的用户侵犯了您的知识产权，请通知腾讯的知识产权代理商，并提供以下信息：

a. 授权人的物理签名或电子签名，此授权人代表依其申述被侵犯的版权或其他权利的所有者。

b. 依其申述被侵犯的版权、商标劝或其他权利的认定。

c. 依其申述被侵犯的商品的网页地址或产品编号。注：商店网页地址为www.photo.qq.com/storeid。只简单地说 www.photo.qq.com， 腾讯并不能充分地辨认出您所指的商品，腾讯是使用网页地址 URL中的&quot;storeid&quot;部分来辨认腾讯的用户的。

d. 您的名字、地址、电话和联系地址。

e. 侵权声明书，其中包括您在材料使用方面的良好信誉，以及在没有被权利的所有者或代理商或法律授权的情况下，您的良好信誉被腾讯的用户使用。

f. 证明书。在此证明书中您被授权代表申述的版权或其它权利的所有者，在作伪证便受处罚的前提下，证明通知中的信息是准确的。

腾讯的知识产权代理是腾讯公司法律事务部，您可以通过以下的邮件地址、电子邮件地址和他联系：

网页地址：photo.qq.com

联系人及地址： 腾讯公司法律事务部

Email: Law@tencent.com

服务变更、中断或终止及服务条款的修改

1. 本服务的所有权和运作权、一切解释权归腾讯。腾讯提供的服务将按照其发布的章程、服务条款和操作规则严格执行。

2. 本公司有权在必要时修改服务条款，服务条款一旦发生变动，将会在相关页面上公布修改后的服务条款。如果不同意所改动的内容，用户应主动取消此项服务。如果用户继续使用服务，则视为接受服务条款的变动。

3. 本公司和合作公司有权按需要修改或变更所提供的收费服务、收费标准、收费方式、服务费、及服务条款。腾讯在提供服务时，可能现在或日后对部分服务的用户开始收取一定的费用如用户拒绝支付该等费用，则不能在收费开始后继续使用相关的服务。但腾讯和合作公司将尽最大努力通过电邮或其他有效方式通知用户有关的修改或变更。

4. 本公司特别提请用户注意，本公司为了保障公司业务发展和调整的自主权，本公司拥有经或未经事先通知而修改服务内容、中断或中止部分或全部服务的权利，修改会以通告形式公布于腾讯网站相关页面上，一经公布视为通知。 腾讯公司行使修改或中断服务的权利而造成损失的，腾讯公司不需对用户或任何第三方负责。

5. 如发生下列任何一种情形，本公司有权随时中断或终止向用户提供服务而无需通知用户：

a. 用户提供的个人资料不真实；

b. 用户违反本服务条款的规定；

c. 按照主管部门的要求；

d. 其他本公司认为是符合整体服务需求的特殊情形。

隐私权保护

1. 腾讯重视对用户隐私的保护，保护隐私是腾讯的一项基本政策。您提供的登记资料及腾讯保留的有关您的若干其他个人资料将受到中国有关隐私的法律和本公司《隐私保护声明》之规范。请访问http://www.tencent.com/law/mo_law.shtml?/law/privacy.htm网站查阅腾讯完整的隐私权政策。

2. 您使用腾讯服务时，腾讯有权用数字代码、通用唯一标识符、cookies或其他技术确定进入服务的计算机。腾讯有可能利用所得信息对服务的使用进行总体性及匿名的数据统计及分析，所得数据可供腾讯或其合作人使用。计算机识别技术也会用于执行相关的服务条款。

3. 腾讯可能会与第三方合作向用户提供相关的服务，如该第三方为合法经营的公司且提供同等的用户隐私保护（如电信运营商），腾讯有权将用户的注册资料等提供给该第三方。</string>
</array>
</plist>
